<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.loki.customrm.flavors.ThirdActivity"
            android:exported="true"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_paid" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/grey" />

    </application>
</manifest>